:root {
  --main-font: "Roboto", sans-serif;
  --secondary-text-color: #757575;
  --first-text-color: #212121;
  --accent-color: #2196f3;
  --footer-bg-color: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: var(--main-font);
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  display: block;
  cursor: pointer;
}

ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Шапка */

.header {
  outline: 1px solid #ececec;
}

.header .container {
  display: flex;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.navigation-panel {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.navigation-list {
  display: flex;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  margin-right: 85px;
  padding-bottom: 25px;
  padding-top: 24px;
}

.header .current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  display: block;
  width: 100%;

  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin-top: 28px;
}

.list {
  list-style: none;
}

.navigation-list-item {
  align-content: center;
}

.navigation-list-item-link,
.social-adress-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.accent,
.navigation-list-item-link:hover,
.navigation-list-item-link:focus,
.social-adress-list-item-link:hover,
.social-adress-list-item-link:focus,
.contacts-list-item-adress-link:hover,
.contacts-list-item-adress-link:focus {
  color: var(--accent-color);
}

.navigation-list-item-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: none;
  border-radius: 2px;
  margin-top: 28px;
}

.social-adress-list-item-link {
  color: var(--secondary-text-color);
}

.icon-email {
  width: 16px;
  height: 11.2px;
}

.icon-phone {
  width: 10px;
  height: 14.94px;
}

.icon-email,
.icon-phone {
  margin-right: 10px;
  fill: var(--secondary-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-adress-list-item-link:hover .icon-email,
.social-adress-list-item-link:hover .icon-phone {
  fill: var(--accent-color);
}

.social-adress-list {
  display: flex;
  justify-content: center;
}

.social-adress-list-item:not(:last-child) {
  margin-right: 30px;
}

/* Секция-герой */

.hero .container {
  display: flex;
  flex-direction: column;
  background-color: #757579;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/hero/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  background-position: center;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 200px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Особенности */

.features .container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.features-list {
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
}

.features-list-item {
  width: 270px;
  height: 251px;
}

.features-svg {
  width: 70px;
  height: 70px;
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-list-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.features-list-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

/* Чем мы занимаемся */

.services .container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--first-text-color);
  padding-top: 94px;
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.services-list-item {
  position: relative;
  width: 370px;
}

.services-list-item-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

/* Наша команда */

.team {
  background-color: #f5f4fa;
}

.team .container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.team-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.team-list-item {
  width: 270px;
  height: 422px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--first-text-color);
  margin-top: 30px;
}

.team-list-item-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 24px;
}

.social-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-svg {
  fill: #afb1b8;
  position: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-link:hover {
  background-color: var(--accent-color);
}

.social-list-item-link:hover .social-svg {
  fill: #ffffff;
}

/* Постоянные клиенты */

.clients .container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.clients-list-item:hover {
  border-color: var(--accent-color);
}

.clients-list-item-link {
  box-sizing: border-box;
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item-link:hover {
  border-color: var(--accent-color);
}

.clients-svg {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item-link:hover .clients-svg {
  fill: var(--accent-color);
}

/* Подвал */

.footer {
  background-color: #2f303a;
}

.footer .container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.contacts {
  width: 231px;
  margin-right: 69px;
  padding-bottom: 60px;
}

.footer .logo {
  color: #ffffff;
  padding-bottom: 20px;
  padding-top: 60px;
  margin-right: 0;
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-list-item-adress,
.contacts-list-item-adress-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.contacts-list-item-adress-link {
  color: rgba(255, 255, 255, 0.6);
}

.appeal {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.socials {
  padding-top: 72px;
  padding-bottom: 100px;
}

.socials .socials-list {
  display: flex;
  margin-top: 20px;
}

.socials .socials-list-item-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list-item-link:hover,
.socials-list-item-link:focus {
  background-color: var(--accent-color);
}

.icon-instagram {
  background-image: url("../images/icons/instagram.svg");
}

.icon-twitter {
  background-image: url("../images/icons/twitter.svg");
}

.icon-facebook {
  background-image: url("../images/icons/facebook.svg");
}

.icon-linkedin {
  background-image: url("../images/icons/linkedin.svg");
}

.socials-list-item:not(:last-child) {
  margin-right: 10px;
}

.sender {
  padding-top: 72px;
  margin-left: auto;
}

.sender-email {
  box-sizing: border-box;
  margin-top: 20px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 8px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.button-form-send {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: var(--accent-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  margin-left: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  text-align: left;
}

.button-form-send::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/send.svg");
  margin-left: 10px;
}

/* Портфолио */

.filters-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--first-text-color);
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* Портфолио-фильтр */

.portfolio-filters-list {
  display: flex;
  justify-content: center;
  padding-top: 93px;
  padding-bottom: 50px;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-filters-list-item:not(:last-child) {
  margin-right: 8px;
}

/* Портфолио-работы */

.portfolio-example-list {
  display: flex;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 94px;
}

.portfolio-example-list-item {
  width: 370px;
  height: 404px;

  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
  outline: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio-example-list-item:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-example-list-item-link:hover .portfolio-example-list-item-backend {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-example-list-item-project {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.portfolio-example-list-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-example-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-example-list-item-type {
  margin-top: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.portfolio-example-list-item-backend {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-img {
  position: relative;
  overflow: hidden;
}

/* Форма заказа услуги */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.form-registration {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 448px;
  padding-right: 39px;
  padding-left: 41px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-appeal {
  padding-bottom: 30px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-field {
  margin-bottom: 28px;
  box-sizing: border-box;
  width: 448px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
}

.comment {
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.comment:focus {
  border-color: var(--accent-color);
}

.form-section {
  position: relative;
}

.form-icons {
  position: absolute;
  top: 20%;
  left: 4%;
  max-width: 15px;
  max-height: 13px;
}

.field-wrapper {
  position: absolute;
  top: 12px;
  left: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
}

.form-field:focus {
  border-color: var(--accent-color);
}

.form-field:focus ~ .form-icons,
.form-field:not(:placeholder-shown) ~ .form-icons {
  fill: var(--accent-color);
}

.form-field:focus + .field-wrapper,
.form-field:not(:placeholder-shown) + .field-wrapper {
  color: var(--accent-color);
  transform: translate(-25px, -32px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.agreement-text {
  margin-left: 7px;
  margin-right: 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  box-sizing: border-box;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox-icon {
  fill: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(9px, 7px);
}

.checkbox:checked ~ .custom-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.accent-agreement {
  color: var(--accent-color);
}

.form-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: var(--accent-color);
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.close-svg {
  width: 11px;
  height: 11px;
  transform: translateY(-3px);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
